/* 
*   Document    : fuze_Sq
*   Created on  : 18/03/2014, 2:16:16 PM
*   Author      : Robert K
*   Version     : 1.0
*   Description :
*        This CSS will style the Service qualification section of the service qaulification
*/

root { 
    display: block;
}

#fuze_SqContainer{
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    min-height: 400px;
}

#fuze_SqContainer input{

}
#checkSimple, #checkAdvanced {

}
#simpleSqUnit{
    width: 100px;
}
#planAvailability-table, #planAvailability-table td{
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 2px dotted gray;
    border-spacing: 1px;
}